{% extends "layout.html" %}

{% block title %}
    Welcome to the Traveler's App!
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/imgs/paimon.png" title="Image credit: Genshin Impact">
    </div>
        <div class="col">
            <br><br><br><br><br><br>
            <h1>Hello, Traveler! :) </h1>
                <br>
                <a href="/new-trip" class="btn btn-lg btn-primary">New Trip</a>
                <a href="/trips" class="btn btn-lg btn-primary">View Trips</a>
                <br><br>
                This simple application lets you list your scheduled trips!
                <br>
                You are also welcome to edit and delete existing trips. 
                <br>Try getting an error to see some fun messages!
                <br>  
            </div> 
    </div>      
{% endblock %}
