{% extends "layout.html" %}

{% block title %}
    Your Trips
{% endblock %}

{% block main %}
    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-success text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}  
    
    <header class="header_titles">
        <strong><h1> Trips </h1></strong>
    </header>

    <br>  

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-lg btn-info active">
          <input type="radio" name="options" id="option1" autocomplete="off" onclick="location.href='/trips?filter=upcoming';" {% if is_upcoming %} checked {% endif %} > Upcoming
        </label>
        <label class="btn btn-lg btn-info">
          <input type="radio" name="options" id="option2" autocomplete="off" onclick="location.href='/trips?filter=past';" {% if is_past %} checked {% endif %}> Past
        </label>
    </div>
    
    <br><br>

    <table class="table table-borderless table-hover">
        <tbody>
            {% for trip in trips %}
             <tr>
              <td><center>
                  <img src="{{ trip.image }}">
              </center></td>
              <td>
                  <strong> {{ trip.name }} </strong><br>
                  {{ trip.date | format_date_string }} <br>
                  Trip # {{ trip.id }} <br>
                  {% if is_upcoming %} 
                  <img src="/static/clock-icon.png"> in {{ trip.date | countdown }} days
                  {% endif %}
              </td>
              <td>
                  <br>
                  <a href="/delete-trip?id={{ trip.id }}" class="btn btn-danger">Delete</a>
                  <a href="/update-trip?id={{ trip.id }}" class="btn btn-secondary">Edit</a>
           </tr>
          {% endfor %}
          </tbody>
    </table>
{% endblock %}