#grid-container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  flex-flow: column wrap;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  display: flex;
  
}
.row {
  display: flex;
  justify-content: center;  
  max-width: 1200px;
  height: 30px;
  color: #fff;
  flex-direction: row;
  flex-wrap: nowrap;
}

.col {
  display: flex;
  border: 1px solid whitesmoke;
  height: 30px;
  width: 30px;  
  background-color: turquoise;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}