#grid-footer {
  max-width: 1200px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}


#grid-container {
  max-width: 1200px;
  max-height: 100vh;
  margin: 50px;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  display: flex;
  
}
.row {
  display: flex;
  justify-content: center;  
  max-width: 1200px;
  height: 30px;
  color: #fff;
  flex-direction: row;
  flex-wrap: nowrap;
}

.col {
  display: flex;
  border: 1px solid whitesmoke;
  height: 30px;
  width: 30px;  
  background-color: turquoise;
}

.test{
  margin: left;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}

.btn-info.focus, .btn-info:focus {
  color: #fff;
  border-color:#17a2b8 !important;
  background-color: #17a2b8 !important;
}