@font-face {
  font-family: millaCilla;
  src: url(milla-cilla.otf);
}

header {
  margin: auto;
  font-family: millaCilla; 
  font-size: 8rem;
}

#grid-container {
  width: 600px;
  height: 600px;
  margin: 20px auto;
  flex-flow: column nowrap;
  align-items: center;  
  display: flex;
   
}

#container-round {
  border-radius: 25px;
  border: 2px solid palevioletred;
  background-color: palevioletred;
  margin: auto;
  width: 650px;
  height: 750px;  
}

.rowGrid {
  width: 600px;
  color: turquoise;
  flex: 1 0 auto;
  display: flex;
  flex-wrap: nowrap;
}

.colGrid {
  margin: 0.5px;
  background-color: whitesmoke;
  flex-grow: 1;
  max-width: 100%;
}

.btn-info.focus, .btn-info:focus {
  color: #fff;
  border-color:#17a2b8 !important;
  background-color: #17a2b8 !important;
}

.grid-footer {
  max-width: 1200px;
  display: flex;  
  justify-content: center;
  margin: 10px auto;
}

footer {
  margin: 15px auto;
}




