.theme-classic {
    background-color: #3A4663;
    color: #ffff;
}

.theme-classic #calc-screen-container{
    background-color: #181F33;
}

.theme-classic #calc-body-container, .theme-classic .theme-switch{
    background-color: #242D44;
}

.theme-classic .theme-switch-toggle{
    background-color:#D03F2F;
}

.theme-classic .theme-switch-toggle:hover{
    background-color: #F96B5B !important;   
}

.theme-classic .theme-switch-toggle:hover ~ input{ 
    /* input class updates when hover state is in effect*/
    pointer-events: none;   
}

.theme-classic #btn-equal:hover{
    background-color: #F96B5B;
}

.theme-classic #btn-equal, .theme-classic #btn-equal:active{
    background-color: #D03F2F;
    box-shadow: inset 0px -4px 0px #93261A;
}

.theme-classic .btn-std:hover{
    background-color: #FFFFFE;
}

.theme-classic .btn-std, .theme-classic .btn-std:active{
    background-color: #EAE3DC;
    color: #434A59;
    box-shadow: inset 0px -4px 0px #B3A497;
    font-size: 32px; 
}

.theme-classic .btn-resetDel:hover{
    background-color: #A2B2E1;
}

.theme-classic .btn-resetDel, .theme-classic .btn-resetDel:active{
    background-color: #647198;
    box-shadow: inset 0px -4px 0px #414E73;
}