.theme-dark {
    background-color: #17062A;
    color: #FFE53D;
}

.theme-dark #calc-screen-container{
    background-color: #1E0936;
    color: #FFE53D;
}

.theme-dark #calc-body-container, .theme-dark .theme-switch{
    background-color: #1E0936;
}

.theme-dark .theme-switch-toggle{
    background-color:#00DED0;
}

.theme-dark .theme-switch-toggle:hover{
    background-color: #93FFF8 !important;   
}

.theme-dark .theme-switch-toggle:hover ~ input{
    pointer-events: none;   
}

.theme-dark #btn-equal:hover{
    background-color: #93FFF8;
}

.theme-dark #btn-equal, .theme-dark #btn-equal:active{
    background-color:#00DED0;
    box-shadow: inset 0px -4px 0px #6CF9F1;
}

.theme-dark .btn-std:hover{
    background-color: #6C34AC;
}

.theme-dark .btn-std, .theme-dark .btn-std:active{
    background-color: #331C4D;;
    box-shadow: inset 0px -4px 0px #881C9E;
    color: #FFE53D;
    font-size: 32px; 
}

.theme-dark .btn-resetDel:hover{
    background-color: #8631AF;
}

.theme-dark .btn-resetDel, .theme-dark .btn-resetDel:active{
    background-color: #56077C;
    box-shadow: inset 0px -4px 0px #BE15F4;
}