body{
    background-color: #3A4663;
    font-family: 'Spartan';
    color: white;
} 

/*  Containers  */

#container{
    display: flex;
    width: 540px;
    height: 708px;
    margin: 96px auto; 
    border: 5px solid #3A4663;
    border-radius: 10px;
    flex-flow: column nowrap;
    align-items: space-between;
}

#calcHeader{
    width: 540px;
    height: 44px;
    margin-bottom: auto;
}

#calcScreenContainer{
    width: 540px;
    height: 128px;
    background: #181F33;
    border-radius: 10px;   
}

#calcBody{
    display: flex;
    width: 540px;
    height: 480px;
    background: #242D44;
    border-radius: 10px;
    margin-top: auto;   
}

#calcPad{
    display: flex;
    width: 478px;
    height: 416px;
    flex-flow: column wrap;
    align-self: center;
    margin: auto;
}

/*  Elements inside containers  */

.row{    
    flex: 1 1 auto;
    display: flex;
    height:64px; 
}

.lastRow{
    order: 1;
}

.col{
    display:flex;      
    margin: 10px;
    width: 101px;    
    flex: 1 0 auto;;
    border-radius: 10px;  
    align-items: center;
    justify-content: center;
}

.btn-std{
    color: #434A59;
    background-color: #EAE3DC;
    box-shadow: inset 0px -4px 0px #B3A497;
    font-size: 32px; 
}

.screenBox{
    max-height: 54px;
    max-width: 478px;
    margin: 37px auto;
    font-size: 48px;
    text-align: right;   
}

#textHeader{
    bottom: 0;
    font-size: 32px;
    margin: 10px auto;
}

/*  Styles for special buttons and screen digits */

.btn-fontStyles{
    color:white;
    font-size: 20px;
}

.btn-resetDel{
    background-color: #647198;
    box-shadow: inset 0px -4px 0px #414E73;
}

#equalButton{
    background-color: #D03F2F;
    box-shadow: inset 0px -4px 0px #93261A;    
}
