body{
    background-color: #3A4663;
    font-family: 'Spartan';
    color: white;
} 

*{
    user-select: none;
}

/*  Containers  */

#main-container{
    display: flex;
    width: 540px;
    height: 708px;
    margin: 96px auto; 
    border: 5px solid #3A4663;
    border-radius: 10px;
    flex-flow: column nowrap;
    align-items: space-between;
}

#calc-header-container{
    display: flex;
    width: 540px;
    height: 44px;
    margin-bottom: auto;
    justify-content: space-between;
    cursor: default;
}

#calc-screen-container{
    width: 540px;
    height: 128px;
    background: #181F33;
    border-radius: 10px;
    cursor: default;   
}

#calc-body-container{
    display: flex;
    width: 540px;
    height: 480px;
    background: #242D44;
    border-radius: 10px;
    margin-top: auto;
    cursor: pointer;   
}


/*  Elements inside high level containers  */

/* Header */

.leftmost-box{
    font-size: 32px;
    padding-top: 14px;  
}

.rightmost-box{
    display: flex;
    font-size: 12px;  
}

#theme-text{
    margin: auto;
    margin-right: 21px;
}

.theme-number{
    display: flex;
    order: 5;
    justify-content: space-between;
    padding: 0px 5px 5px 5px; 
}

.theme-number label{
    cursor: pointer;
}

input{
    opacity:0;
    cursor: pointer;
}
.switch{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.theme-switch{
    width: 71px;
    border-radius: 13px;
    background-color: #242D44;
    padding: 5px;
    box-sizing: border-box;
}

.theme-switch-toggle{
    width: 16px;
    height: 16px;
    background-color: #D03F2F;
    border-radius: 10px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    position: absolute;  
}


/* Screen */

.screen-box{
    max-height: 54px;
    max-width: 478px;
    margin: 37px auto;
    font-size: 48px;
    text-align: right;   
}

/* Buttons Grid */

#buttons-grid{
    display: flex;
    width: 478px;
    height: 416px;
    flex-flow: column wrap;
    align-self: center;
    margin: auto;
}
.row{    
    flex: 1 1 auto;
    display: flex;
    height:64px; 
}

.col{
    display:flex;      
    margin: 10px;
    width: 101px;    
    flex: 1 0 auto;;
    border-radius: 10px;  
    align-items: center;
    justify-content: center;
}


.last-row{
    order: 1;
}

/*  Button styles */

.btn-fontStyles{
    color:white !important;
    font-size: 20px !important;
}

.btn-std{
    color: #434A59;
    background-color: #EAE3DC;
    box-shadow: inset 0px -4px 0px #B3A497;
    font-size: 32px; 
}

.btn-std:active{
    background-color: #FFFFFE;
}

.btn-resetDel{
    background-color: #647198;
    box-shadow: inset 0px -4px 0px #414E73;
}

.btn-resetDel:active{
    background-color: #A2B2E1;
}

#btn-equal{
    background-color: #D03F2F;
    box-shadow: inset 0px -4px 0px #93261A;    
}

#btn-equal:active{
    background-color: #F96B5B;
}
